[submodule "tools/ifaceed/ifaceed/gui/qt-palette-color-picker"]
	path = tools/ifaceed/ifaceed/gui/qt-palette-color-picker
	url = https://github.com/mamontov-cpp/qt-palette-color-picker.git
[submodule "include/3rdparty/tar7z"]
	path = include/3rdparty/tar7z
	url = https://github.com/mamontov-cpp/tar7z
[submodule "include/3rdparty/dukpp-03"]
	path = include/3rdparty/dukpp-03
	url = https://github.com/mamontov-cpp/dukpp-03.git
[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
