
examples/multithreading/.vs/multithreading/v15/Browse.VC.db
examples/multithreading/.vs/multithreading/v15/Browse.VC.opendb
examples/multithreading/.vs/multithreading/v15/ipch/AutoPCH/daa4c2e51d911f1c/MAIN.ipch
