*.suo
*.VC.db
*.ilk
*.pdb
*.obj
*.tlog
*.opendb
*.idb
*.ipch
*.log
bin/*.dll
bin/freetype-config
bin/highscore.json
bin/examples/multithreading/options.json
examples/multithreading/*.txt
bin/*.exe
bin/log.txt
lib/*
Debug/*
